h2{
  color: white;
  background-color: black;
}

}
body{
  background-color: rgb(92, 87, 84)
}
.image-container{
  display: flex;
  justify-content: center;
  width: 1500px;
  border: 7px;

}
h2{
  color: white;
  background-color: black;
}
td{
  width: 250px;
  border: solid;
}
img{
  width: 100%
}