h2{
  color:white;
  background-color: #FD6A02;
}
td{
  width: 250px;
  border: solid;
}
img{
  width: 100%
}
table{
  border-color: #FD6A02;
  border: dashed;
  margin-left: 5px;
  float: left;
}
#2nd{
  border: solid
}
div{
  border: solid;
}
p{
  color: #FD6A02;
  font:bolder;
}
h3{
  color:#FD6A02;
}
#gif{
  float: left;
  width: 720px;
  height: 465px;
  border: dashed;
  margin-left: 5px;
  
}